body {
    font-family: MONOSPACE;
    color: #09c509;
    background-color: #1f211f;
}

.main-view-container {
    margin: 0 auto;
    display: table;
}

.lighter {
    color: #0ae80a;
}

.bad {
    color: red;
}

a {
    color: #3aab3a;
}

.stats {
    margin-bottom: 5px;
}

.snake-board {
    border: 3px solid #0ae80a;
}

.snake-board.bad {
    border: 3px solid red;
}
